:root {
    --cord-de-fundo: #1E1E1E;
    --verde: #5FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58,55,94,0.5);
    --texto-fundo: rgba(58,55,94,0.3);
}

* {
    background-color: var(--cord-de-fundo);
    color: var(--texto-fundo);
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: center;
    width: 100%;
    font-size: 32px;
}

.botao {
    background-color: var(--botao-inativo);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
    padding: 1em;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
}

.botao:first-child {
    border-radius: 20px 20px 0 0;
}

.botao:last-child {
    border-radius: 0px 0px 20px 20px;
}

span {
    color: var(--verde);
}